<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Portfolio</title>
</head>
<body>
    
    <div class="frame">
        <div class="main_frame">
            <!-- LEFT-FRAME -->
            <div class="left_frame">

                <!-- AUTHOR -->
                <div class="author">
                    <img class="author_img" src="/author/images/profile.jpeg" alt="Profile Pic" width="156" height="135">
                    <h2><%=user.name%></h2>
                    <p><%=user.profession%></p>
                    <div class="social_media">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube""></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="marginer"></div>
                
                <!-- ABOUT-1 -->
                <div class="author_about-1">
                    <div class="about-1">
                        <h2 class="about-1-left">Age:</h2>
                        <h2 class="about-1-right"><%=user.age%></h2>
                    </div>
                    <div class="about-1">
                        <h2 class="about-1-left">Residence:</h2>
                        <h2 class="about-1-right"><%=user.residence%></h2>
                    </div>
                    <div class="about-1">
                        <h2 class="about-1-left">Freelance:</h2>
                        <h2 class="about-1-right available">Available</h2>
                    </div>
                    <div class="about-1">
                        <h2 class="about-1-left">Address:</h2>
                        <h2 class="about-1-right"><%=user.address%></h2>
                    </div>
                </div>
                <div class="marginer"></div>

                <!-- ABOUT-2 -->
                <div class="author_about-2">
                    <h2 class="about-tittle">Languages</h2>
                    <div class="about-2-wrapper">
                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.language[0]%></h2>
                                <h2 class="wrapper-1-1-right">100%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.language[1]%></h2>
                                <h2 class="wrapper-1-1-right">80%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 80%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.language[2]%></h2>
                                <h2 class="wrapper-1-1-right">60%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>

                <!-- ABOUT-3 -->
                <div class="author_about-2">
                    <h2 class="about-tittle">Skills</h2>
                    <div class="about-2-wrapper">
                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.skills[0]%></h2>
                                <h2 class="wrapper-1-1-right">90%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 90%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.skills[1]%></h2>
                                <h2 class="wrapper-1-1-right">85%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 85%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.skills[2]%></h2>
                                <h2 class="wrapper-1-1-right">80%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 80%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.skills[3]%></h2>
                                <h2 class="wrapper-1-1-right">75%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 75%;"></div>
                            </div>
                        </div>

                        <div class="wrapper-1">
                            <div class="wrapper-1-1">
                                <h2 class="wrapper-1-1-left"><%=user.skills[4]%></h2>
                                <h2 class="wrapper-1-1-right">85%</h2>
                            </div>
                            <div class="wrapper-1-2">
                                <div class="progress" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>

                <!-- ABOUT-4 -->
                <div class="author_about-4">
                    <h2 class="about-tittle">Extra Skills</h2>
                    <div class="wrapper-2">
                        <div class="wrapper-2-2">
                            <img src="/author/menu_icon/Icons.svg" width="15" height="15">
                            <h2>Bootstrap, Materialize</h2>
                        </div>
                        <div class="wrapper-2-2">
                            <img src="/author/menu_icon/Icons.svg" width="15" height="15">
                            <h2>Stylus, Sass, Less</h2>
                        </div>
                        <div class="wrapper-2-2">
                            <img src="/author/menu_icon/Icons.svg" width="15" height="15">
                            <h2>Gulp, Webpack, Grunt</h2>
                        </div>
                        <div class="wrapper-2-2">
                            <img src="/author/menu_icon/Icons.svg" width="15" height="15">
                            <h2>GIT Knowledge</h2>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>

            </div>
            
            <!-- MIDD-FRAME -->
            <div class="midd_frame">
                <!-- HERO -->
                <div class="hero">
                    <!-- BACKGROUN ICONS -->
                    <img class="el-1" src="/author/icon/Ellipse.svg" width="16" height="15">
                    <img class="el-2" src="/author/icon/Ellipse-green.svg" width="16" height="15">
                    <img class="re-1" src="/author/icon/Rectangle-blue.svg" width="16" height="15">
                    <img class="el-3" src="/author/icon/Ellipse-green.svg" width="16" height="15">
                    <img class="el-4" src="/author/icon/Ellipse.svg" width="16" height="15">
                    <img class="re-2" src="/author/icon/Rectangle.svg" width="16" height="15">
                    <img class="po-1" src="/author/icon/Polygon.svg" width="16" height="15">
                    <div class="hero-wrapper">
                        <div class="hero-about">
                            <h2>Doctor neurologists <br> in OHSU Hospital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                            <a href="#" class="hero-btn">HIRE ME 
                                <img class="hero-btn_icon" src="/author/btn_icon/Vector.svg" alt="hero btn">
                            </a>
                        </div>
                        <img class="hero-img" src="/author/images/profile-2.png" alt="author image">
                    </div>
                </div>

                <!-- FEATURE -->
                <div class="feature">
                    <h2 class="feature-title">My Services</h2>
                    <p class="feature-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. <br> lorem ipsum</p>

                    <div class="box-wrapper">
                        <div class="box box-1">
                            <img src="/author/box-icon/Icons_coding.svg" width="68" height="68">
                            <h2>web development</h2>
                            <p>blog, e-commerce</p>
                        </div>
                        <div class="box box-2">
                            <img src="/author/box-icon/Icons_illustration.svg" width="68" height="68">
                            <h2>uI/uX design</h2>
                            <p>Mobile app, website design</p>
                        </div>
                        <div class="box box-3">
                            <img src="/author/box-icon/Icons_Microphone.svg" width="74" height="74">
                            <h2>sound design</h2>
                            <p>Voice Over, Beat Making</p>
                        </div>
                        <div class="box box-4">
                            <img src="/author/box-icon/Icons_game-development.svg" width="74" height="74">
                            <h2>game design</h2>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="box box-5">
                            <img src="/author/box-icon/Icons_Photographer.svg" width="78" height="78">
                            <h2>photography</h2>
                            <p>portrait, product photography</p>
                        </div>
                        <div class="box box-6">
                            <h2>Advertising</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                            <a class="box-link" href="#">order now 
                                <img src="/author/box-icon/Frame.svg" width="20" height="20">
                            </a>
                        </div>
                    </div>
                </div>
            </div>            

            <!-- RIGHT-FRAME -->
            <div class="right_frame">
                <img class="right_frame-img" src="/author/menu_icon/dark-mode.svg" width="30" height="30">

                <div class="menu">
                    <div class="menu-item">
                        <div class="tooltip">Home</div>
                        <img src="/author/menu_icon/Icons_Home.svg" alt="Home" width="18" height="18">
                    </div>

                    <div class="menu-item">
                        <div class="tooltip">Service</div>
                        <img src="/author/menu_icon/Icons_Service.svg" alt="Service" width="18" height="18">
                    </div>

                    <div class="menu-item">
                        <div class="tooltip">Cv</div>
                        <img src="/author/menu_icon/Icons_Cv.svg" alt="Cv" width="18" height="18">
                    </div>

                    <div class="menu-item">
                        <div class="tooltip">Portfolio</div>
                        <img src="/author/menu_icon/Icons_Portfolio.svg" alt="Portfolio" width="18" height="18">
                    </div>

                    <div class="menu-item">
                        <div class="tooltip">Blog</div>
                        <img src="/author/menu_icon/Icons_Blog.svg" alt="Blog" width="18" height="18">
                    </div>

                    <div class="menu-item">
                        <div class="tooltip">Contact</div>
                        <img src="/author/menu_icon/Icons_Contact.svg" alt="Contact" width="18" height="18">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>